<div id="page__not--found1" class="err-4-new">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <div class="acs-err">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  <h5 class="er-5"><span>403.</span> Access Denied</h5>
              </div>
              <div class="page__not--found--content">
                  <div class="inline-block align-middle">
                      <div class="bdrs"></div>
                      <h2 class="err4n-h2">We apologize for the inconvenience, but it seems you are attempting to access a record for which you do not have authorization.</h2>
                      <h6 class="err4n-h6">Please contact the MSP program manager for assistance or click below to access your XRM account.</h6>
                      <div class="bdrs"></div>
                  </div>
              </div>
              <div class="back-btn"> 
                  <a href="javascript:;" (click)="loginAgain()" class="btn err4-btn2"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </div>
          </div>
          <div class="col-md-5 position-relative">
              <div class="er-imgs img-absolute">
                  <img src="../../../../assets/images/404-new.png" alt="" class="img-responsive" />
              </div>
          </div>
      </div>
  </div>
</div>