#page__not--found {
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  text-align: center;
}
#page__not--found .page__not--found--icon {
  margin-bottom: 1.5rem !important;
}
#page__not--found .page__not--found--content {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}
#page__not--found h1 {
  font-size: 38px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: #b5b5b5 solid 1px;
}
#page__not--found h2 {
  font-weight: 500;
}
#page__not--found h2 span {
  font-weight: normal !important;
}
#page__not--found h6 {
  margin-bottom: 15px;
  font-size: 14px;
}
#page__not--found p {
  margin-bottom: 15px;
  font-size: 13px;
}
#page__not--found .back-btn a {
  padding: 8px 15px;
  color: #fff;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  font-size: 14px;
  background: var(--color-primary);
}
.login-img {
  position: relative;
  background-image: url(../../../../assets/images/error-page.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-img:before {
  content: "";
  background: linear-gradient(to right, var(--primary06) 0%, rgba(5, 195, 251, .568627451) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
}
.page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
}
.error-page .display-1 {
  font-size: 8.5rem;
  margin-block-start: 0px;
}


/* New */
#page__not--found1 {
  padding: 100px 0px;
}

.err4n-h6 {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  margin: 8px 0 25px;
}
.err4n-h2 {
  color: #000;
  font-size: 30px;
}
.er-5 {
  margin-bottom: 15px;
}
.er-5 span {
  font-weight: 600;
  font-size: 25px;
  color: #0d6efd;
}

.err4-btn2{
  border-radius: 0;
  border: 1px solid #555;
  background-color: transparent;
  letter-spacing: 1px;
  padding: 6px 15px;
  color: #000;
  position: relative;
  z-index: 9;
}
.er-imgs {
  text-align: center;
}
.er-imgs img {
  width: 200px;
}
.err-wdth h5 {
  color: #fff;
  font-size: 30px;
}
.dis405 {
  position: absolute;
  opacity: 0.2;
  top: 27%;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 150px;
}
.bt2n a {
  margin-top: 100px;
}
.acs-err i {
  font-size: 50px;
  margin-bottom: 15px;
}

.img-absolute {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.img-absolute img {
  width: 400px;
}

@media (max-width:980px) {
.er-imgs.img-absolute img { 
    width: 320px !important;
}
}
@media (max-width:640px) {
.er-imgs.img-absolute {
    right: unset !important;
    top: unset !important;
    transform: unset !important;
}
.er-imgs.img-absolute img { 
    width: 400px !important;
}
}
@media (max-width:415px) {
.er-imgs.img-absolute img { 
    width: 100% !important;
}
}