
    <ng-container *ngIf="showHeader">
        <form [formGroup]="statusForm">
            <app-common-header [statusData]="statusData" (onLink)="showRequestDetails($event)">
            </app-common-header>
        </form>
    </ng-container>
    <router-outlet></router-outlet>
    <ng-container *ngIf="showHeader">
        <event-log></event-log>
    </ng-container> 


<div *ngIf="isShowRequestDetail" class="offcanvas offcanvas-end width-65 show" aria-modal="true" role="dialog" tabindex="-1" id="errormessageSidebarsm" aria-labelledby="errormessageSidebarsm" [@slideInOut]>
    <div class="offcanvas-header">
       <h5>{{'Quick View'}}</h5>
       <button type="button" class="btn-close" (click)="closePanel()"></button>
    </div>
    <div class="offcanvas-body">
      <app-submittal-shared-View [showOnInterview]="showOnInterview" [interviewUkey]="interviewUkey" [parentEntity]="'Interview'"></app-submittal-shared-View>
      <div class="col-md-12 page-footer">
        <div class="button-group btn-box--center">
            <button type="button" kendoButton themeColor="primary" (click)="closePanel()">
                {{'Close'|translate}}
            </button>
        </div>
    </div>
    </div>
  </div>