.basic-status-left {
	ul {
		padding-left: 0;
		margin-bottom: 0;
		li {
			list-style-type: none;
			display: inline-block;
			position: relative;
			&::before {
				content: "|";
				color: #9b9b9b;
				padding: 0 5px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}
.basic-title {
	font-weight: 600;
	font-size: 14px;
}
.basic-code {
	font-weight: 300;
	font-size: var(--base-font-size);
}
.basic-status {
	font-weight: 300;
	font-size: 11px;
}
