<div class="master-search">
  <div class="row">
    <div class="col-md-12 master-search__wapper">
      <div class="master-search__search-box">
        <div class="custom-search">
          <div class="custom-search__input-box">
            <app-search [placeholder]="'SearchFor'" [isServerSidePagingEnable]="isServerSidePagingEnable"
              [buttonNameSearch]="''" [EntityId]="xrmEntityId" (onSearch)="onSearchTriggered($event)"
              [columnOptions]="columnOptions">
            </app-search>
          </div>
          <app-advance-search [apiAddress]="advApiAddress" [isServerSidePagingEnable]="isServerSidePagingEnable"
            [EntityId]="xrmEntityId" (selectedFilter)="onFilterTriggered($event)" [isApiGateway]="true">
          </app-advance-search>
        </div>
      </div>

      <div class="master-search__button-box master-search__button-box--right">
        <app-kendo-button [xrmEntityId]="xrmEntityId" [buttonName]="'NewExpenseType'" [buttonIcon]="'plus'"
          (Click)="navigate()">
        </app-kendo-button>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="isLoading">
  <grid-view [isServerSidePagingEnable]="isServerSidePagingEnable" [apiAddress]="apiAddress" [searchText]="searchList"
    [advFilterData]="appliedAdvFilters" [entityId]="xrmEntityId" [columnOptions]="columnOptions" [actionSet]="actionSet"
    [isSortingAllowed]="true" [tabOptions]="tabOptions" [fileName]="'ExpenseType'| translate"
    [kendoGridSelectedBy]="'UKey'" [ShowActivateDeactivateButton]='false' [extraButtonSet]="extraButton"
    (gridHeaderBtnType)="openCopy()" [actionItemCategoryField]="'Disabled'" [pageSize]="pageSize"
     [isApiGateway]="true" [multiSelect]="false">
  </grid-view>
</div>