<footer class="footer-main">
    <div class="footer-main__copyright">
        <p>{{"XrmCopyright" | translate}}</p>
    </div>
      <div class="support">
        <ul>
            <li>
                <a href="tel:1111111111">
                    <xrm-icon name="phone" color="dark-blue-color" [size]="14" class="sw-bold">
                    </xrm-icon> {{support.contactNumber}}
                </a>
            </li>
            <li>
                <a href="mailto:none@acrocorp.com">
                    <xrm-icon name="mail" color="dark-blue-color" [size]="14" class="sw-bold">
                    </xrm-icon> {{support.email}}
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-main__social">
        <a>
            <xrm-icon name="twitter" color="gray-color" [size]="16" class="sw-bolder"></xrm-icon>
        </a>
        <a>
            <xrm-icon name="linkedin" color="gray-color" [size]="18" class="sw-bolder"></xrm-icon>
        </a>
        <a>
            <xrm-icon name="facebook" color="gray-color" [size]="18" class="sw-bolder"></xrm-icon>
        </a>
       
    </div>
</footer>