<!-- Main Body Section-->
<div class="app-content__body my-4">

    <!-- Card Section-->
    <div class="card my-4">

        <!-- Card Header Section-->
        <div class="card__header">
            <h4 class="card__heading">Basic Details</h4>
            <div class="card__header-icon">
                
            </div>
        </div>
        <!-- End Card Header Section-->

        <!-- Card Body Section-->
        <div class="card__body">

            <!--start row Section-->
            <div class="row">

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Sector">
                            <p class="label-answere">Pitney Bowes Inc. (PBI)</p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Labor Category">
                            <p class="label-answere">Finance /Professional</p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Job Category">
                            <p class="label-answere">Accountant 1</p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Contract Type">
                            <p class="label-answere">Indirect</p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Client Job Code">
                            <p class="label-answere">
                                01
                            </p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Allow Wage Rate Adjustment?">
                            <p class="label-answere">Yes </p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <kendo-label text="Overtime Hours Billed at">
                            <p class="label-answere">
                                Overtime (Non Exempt)
                            </p>
                        </kendo-label>
                    </div>
                </div>
                <!-- input box end -->

            </div>
            <!--End row Section-->
        </div>
        <!--End Card Body Section-->

    </div>
    <!-- Card Section-->

    <div class="page-footer">
        <div class="btn-box btn-box--center">
            <button type="button" kendoButton themeColor="primary"
                routerLink="/xrm/temp/listing">Back</button>
        </div>
    </div>

    

</div>
<!-- Main Body Section-->