app-kendo-button.copy__btn button.send-button {
    margin-top: 18px;
}

.card .card__body .card__body {
    padding: 10px 20px 8px !important;
}

.cac__approval-details .card:before {
    display: none;
}

.cac__approval-details .list-view__tab {
    margin-bottom: 15px;
}

.cac__approval-details .list-view__tab-item .card__body {
    padding: 0 !important;
}