<div class="master-search widget-filter__search">
  <div class="row">
    <div class="col-md-12 master-search__wapper">
      <div class="master-search__search-box">
        <div class="custom-search">
          <div class="custom-search__input-box">
            <app-search [isServerSidePagingEnable]="isServerSidePagingEnable"  [buttonNameSearch]="''"  [EntityId]="entityId"
              (onSearch)="onSearch($event)" [columnOptions]="columnOptions"></app-search>
          </div>

          <app-advance-search [isServerSidePagingEnable]="isServerSidePagingEnable" [apiAddress]="apiUrlForAdv" [EntityId]="entityId"
            (selectedFilter)="onFilter($event)"  [isApiGateway]="true" ></app-advance-search>
        </div>
      </div>
      <!-- Add New Requisition Library button -->

      <div class="master-search__button-box master-search__button-box--right">
        <app-kendo-button [xrmEntityId]="entityId" [buttonName]="'NewRequisitionLibrary'" (Click)="navigate()" [buttonIcon]="'plus'"></app-kendo-button>
      </div>

      <!-- Add New Requisition Library button -->
    </div>
  </div>
</div>

<div class="row">
  <grid-view [isServerSidePagingEnable]="isServerSidePagingEnable" [entityId]="entityId"  [pageSize]="pageSize" [apiAddress]="apiUrlForGrid"
    [searchText]="searchText" [advFilterData]="appliedAdvFilter" [columnOptions]="columnOptions" [actionSet]="actionSet" [tabOptions]="tabOptions"
    [kendoGridSelectedBy]="'UKey'" [fileName]="'Requisition Library'"  [isApiGateway]="true"
    (onGroupedAction)="onAllActivateDeactivateAction($event)" [extraButtonSet]="!isActionIdFound ? extraButton : []"
    (gridHeaderBtnType)="openCopy()" [isSortingAllowed]="true" [multiSelect]="false"
    [isFilteringAllowed]="true" [isActionColumnVisible]="true" >
  </grid-view>
</div>