h1{
    margin-bottom: 24px;
    margin-top: 24px;
}
h1.user-center {
    text-align: center;
}
.welcome-page{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
