<!-- Main Body Section-->
<div class="app-content__body">
    <div class="welcome-page">
        <div class="welcome-user">
           
        </div>
    </div>
    <div class="page-footer text-center">
        
        <h1>Module Name</h1>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/labor-category/list">Minimum Clearance to Start</button> 
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/reason-for-request">Reason For Request</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/configure-client">Configure Client</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/job-category">Job Category</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/labor-category">Labor Category</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/requisition-library">Requisition Library</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/organization-level1">Organization Level 1</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/organization-level2">Organization Level 2</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/organization-level3">Organization Level 1</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/organization-level4">Organization Level 2</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/user-defined-fields">User Defined Field</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/event-reason">Event Reason</button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/master/cost-accounting-code">Cost Accounting Code</button>
    </div>


</div>
<!-- End Main Body Section-->