<div class="offcanvas offcanvas-end list-sidebar" tabindex="-1" id="hourlyInputDetails"
    aria-labelledby="hourlyInputDetails">
    <div class="offcanvas-header">
        <h5>{{'TimeConversionGuide' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="card">
            <div class="card__body">
                <p>{{'ConversionTableForUsers' | translate}}<br> {{'MinutesIntoHours' | translate}}</p>
            </div>
            <div class="card__body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">

                        <div class="view__screen">
                            <ul class="list__data">
                                <li class="list__data--item"> <strong class="kendo-label">1-6 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.10 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">7-12 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.20 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">13-18 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.30 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">19-24 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.40 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">25-30 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.50 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">31-36 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.60 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">37-42 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.70 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">43-48 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.80 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">49-54 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">0.90 {{'Hour' | translate}}</span>
                                </li>
                                <li class="list__data--item"> <strong class="kendo-label">55-60 {{'Min'|
                                        translate}}</strong>
                                    <span class="data-answere">1.00 {{'Hour' | translate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__body">
                <p> <strong>{{'Example' | translate}} 1 :</strong> {{'YouWorked7HoursAnd42Minutes' | translate}}</p>
                <div class="row">
                    <div class="col-sm-12  text-center">
                        <img src="./assets/images/time7-70.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__body">
                <p><strong>{{'Example' | translate}} 2 :</strong> {{'YouClockedIn8AMandClockedOut12PM' | translate}}</p>
                <div class="row">
                    <div class="col-sm-12  text-center">
                        <img src="./assets/images/time4-00.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>