<div class="master-search">
  <div class="row">
    <div class="col-md-12 master-search__wapper">
      <div class="master-search__search-box">
        <div class="custom-search">
          <div class="custom-search__input-box">
            <app-search [isServerSidePagingEnable]="isServerSidePagingEnable" [placeholder]="'SearchFor'" 
            [buttonNameSearch]="''" (onSearch)="onSearchTriggered($event)"
              [EntityId]="entityId" [columnOptions]="columnOptions"></app-search>
          </div>
          <app-advance-search [apiAddress]="advApiAddress" [isServerSidePagingEnable]="isServerSidePagingEnable" [EntityId]="entityId" [isApiGateway]="true"
          (selectedFilter)="onFilterTriggered($event)"></app-advance-search>
        </div>
      </div>

      <div class="master-search__button-box master-search__button-box--right">
        <app-kendo-button [buttonName]="'NewRetireeOption'" [xrmEntityId]="entityId"
        (Click)="navigate()" [buttonIcon]="'plus'"></app-kendo-button>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <grid-view [isServerSidePagingEnable]="isServerSidePagingEnable" [apiAddress]="apiAddress" [searchText]="searchText"
  [advFilterData]="appliedAdvFilters" [columnOptions]="columnOptions" [actionSet]="actionSet" [isApiGateway]="true"
    [tabOptions]="tabOptions" [fileName]="'Retiree Option'" [kendoGridSelectedBy]="'UKey'"
    (onGroupedAction)="onAllActivateDeactivateAction($event)" [multiSelect]="false"
    [entityId]="entityId" [actionItemCategoryField]="'Disabled'" [pageSize]="pageSize">
  </grid-view>
</div>
