<div id="page__not--found1" class="err-7-new">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
            <div class="acs-err">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <h5 class="er-5"><span>410.</span> {{'LinkExpired' | translate}}</h5>
          </div>
              <div class="page__not--found--content">
                  <div class="inline-block align-middle">
                      <div class="bdrs"></div>
                      <h2 class="err4n-h2">{{ 'ExpiredLink' | translate}}</h2>
                      <h6 class="err4n-h6">{{'ContactMspForAssistance' | translate}}</h6>
                      <div class="bdrs"></div>
                  </div>
              </div>
              <div class="back-btn">
                  <a href="javascript:;" (click)="loginAgain()" class="btn err4-btn2"><i class="fa fa-user"
                          aria-hidden="true"></i> {{'Login' | translate}}</a>
              </div>
          </div>
          <div class="col-md-5 position-relative">
              <div class="er-imgs img-absolute">
                  <img src="./assets/images/410-error.png" alt="" class="img-responsive" />
              </div>
          </div>
      </div>
  </div>
</div>