<app-html-tooltip [label]="'test'" [position]="'top'" [popoverBody]="popoverBody"></app-html-tooltip>

<div>
    <button routerLink="/xrm/demo/listing">dsd</button>
    <grid-view [actionSet]="actionSet" [columnOptions]="columnOptions" [pageSize]="pageSize" [gridData]="gridData"
        [entityId]="entityId" [tabOptions]="tabOptions" [actionItemCategoryField]="'Status'" [isSortingAllowed]="true"
        [isActionColumnVisible]="true" [isFilteringAllowed]="true" [massActionButtonSet]="massActionButtonSet"
        (selectedTab)="onTabSelected($event)" (onGroupedAction)="GroupedAction($event)" [noRecordsMessage]="customNoRecordsMessage">
    </grid-view>


</div>

<app-approval-form-v2></app-approval-form-v2>

