<header class="navbar navbar-expand-lg navbar-dark bd-navbar border-bottom bg-white header">
  <nav class="container-fluid bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    <a class="d-block my-1 navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
      <img src="assets/images/logo.webp" alt="mdo" height="50">
    </a>
    <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
    <hr class="d-lg-none text-white-50">

    <a class="d-block my-1 navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
      <img src="assets/images/acrologo.webp" alt="mdo" height="40">
    </a>
  </nav>
</header>