<div *ngIf="isRendered">
  <div *ngIf="isEditMode; then thenTemplateName; else elseTemplateName"></div>
  <ng-template #thenTemplateName>
    <app-kendo-label *ngIf="!isHtmlContent" [label]="label"
      [value]="listControlName ? listControlName.value?.Text : formControl.value?.Text" [tooltipPosition]=""
      [labelLocalizeParam]="labelLocalizeParam" [addOnLabelText]="addOnLabelText"
      [addOnLabelTextLocalizeParam]="addOnLabelTextLocalizeParam" [tooltipVisible]="tooltipVisible"
      [tooltipTitle]="tooltipTitle" [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam">
    </app-kendo-label>

    <tooltip-content *ngIf="isHtmlContent"
      [value]="listControlName ? listControlName.value?.Text : formControl.value?.Text"
      [tooltipVisible]="tooltipVisible" [tooltipTitle]="tooltipTitle" [label]="label" [addOnLabelText]="addOnLabelText"
      [addOnLabelTextLocalizeParam]="addOnLabelTextLocalizeParam" [isRequired]="isRequired" [tooltipPosition]=""
      [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam" [isHtmlContent]="isHtmlContent"
      [labelLocalizeParam]="labelLocalizeParam">
    </tooltip-content>

    <div class="mt-1">
      <span class="achor__text">
        {{ helpTexts.join(", ") }}
      </span>
    </div>
  </ng-template>
  <ng-template #elseTemplateName>
    <kendo-formfield>
      <tooltip-content [tooltipVisible]="tooltipVisible" [tooltipTitle]="tooltipTitle" [label]="label"
        [addOnLabelText]="addOnLabelText" [addOnLabelTextLocalizeParam]="addOnLabelTextLocalizeParam"
        [isRequired]="isRequired" [tooltipPosition]="" [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam"
        [isHtmlContent]="isHtmlContent" [labelLocalizeParam]="labelLocalizeParam">
      </tooltip-content>
      <div class="autocomplete-search search-singleselect">
        <kendo-combobox class="search-icon" #comboBox [formControl]="listControlName ? listControlName : formControl"
          [disabled]="isDisabled" [data]="data" [allowCustom]="false" textField="Text" valueField="Value"
          [filterable]="true" [valuePrimitive]="false" [placeholder]="placeholder | translate"
          [kendoDropDownFilter]="filterSettings" (valueChange)="OnChange($event)">
          <ng-template kendoComboBoxItemTemplate let-dataItem>
            {{ dataItem.Text}} <span *ngIf="dataItem.isRequired"
              class="required required--dropdown-value">{{dataItem.Tag
              ?
              dataItem.Tag : '*' }}</span>
          </ng-template>
        </kendo-combobox>
        <span class="k-icon k-font-icon k-i-search"></span>
      </div>
      <div class="mt-1">
        <span class="achor__text">
          {{ helpTexts.join(", ") }}
        </span>
      </div>
      <app-print-error-message [control]="listControlName ? listControlName : formControl"></app-print-error-message>
    </kendo-formfield>
  </ng-template>
</div>