

   <p> The combination of approval parameters i.e. Sector, Loaction, Labor category, Organization level for this workflow already exists in
	   <a href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#errormessageSidebarsm" >LI Request Applications (Inactive)</a></p>

	 <div #offcanvasElement class="offcanvas offcanvas-end" tabindex="-1" id="errormessageSidebarsm" aria-labelledby="errormessageSidebarsm">
	   	 <div class="offcanvas-header">
	   			 <h5></h5>
	   			 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	   	 </div>
	   	 <div class="offcanvas-body">
	   			 <app-view [myInput]="existingUkey"></app-view>
	   	 </div>
	   </div>
