<div class="right-logo1 text-center">
    <img src="assets/images/XRM-logo.webp" alt="xrm logo" class="logo-xrm">
</div>

<div id="page__not--found1" class="err-5-new">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="page__not--found--content">
                    <div class="inline-block align-middle">
                        <h2 class="err4n-h2">Oops! Our application doesn’t support Firefox. </h2>
                        <h6 class="err4n-h6">Please switch to Chrome or Edge for the best experience.</h6>
                    </div>
                </div>
                <div class="back-btn">
                    <a href="javascript:;" routerLink="/xrm//welcome" class="btn"><img class="logo-xrm" src="assets/images/chrome.png" alt="" /></a>
                    <a href="javascript:;" routerLink="/xrm//welcome" class="btn"><img class="logo-xrm" src="assets/images/microsoft.png" alt="" /></a>
                </div>
            </div>
            <div class="col-md-5 position-relative">
                <div class="er-imgs img-absolute">
                    <img src="assets/images/not-supported-img.png" alt="" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>
