.lang-gr .k-switch-md.k-switch-on .k-switch-thumb-wrap {
    left: calc(100% - 4px);
}

.lang-gr .k-switch-md .k-switch-track {
    width: 52px;
}

.lang-gr .main-menu .parent__reduce-width {
    right: -464px !important;
    width: 250px !important;
}

.lang-gr .nav .nav__item {
    white-space: unset !important;
}

.lang-gr .nav .parent__divide .nav__item .nav__link {
    line-height: normal !important;
}