
<!-- Main Body Section-->
<div class="app-content__body">
    <!-- Card Section-->
    <div class="card">

        <!-- Card Header Section-->
        <div class="card__header">
            <h4 class="card__heading">Charge# Details</h4>
            <div class="card__header-icon">
            </div>
        </div>
        <!-- End Card Header Section-->

        <!-- Card Body Section-->
        <div class="card__body">

            <!--start row Section-->
            <div class="row">

                <!-- Text box start -->
                <div class="col-sm-6 col-md-6">
                    <kendo-label class="k-label" text="Sector">
                        <p class="label-answere">Brownwood</p>
                    </kendo-label>
                </div>
                <!-- Text box end -->
                <div class="clearfix"></div>

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <kendo-label class="k-label" text="Charge #">
                        <p class="label-answere">HV001~100V</p>
                    </kendo-label>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <kendo-label class="k-label" text="Shift">
                        <p class="label-answere">Day</p>
                    </kendo-label>
                </div>
                <!-- input box end -->

                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <kendo-label class="k-label" text="Primary Approver">
                        <p class="label-answere">Emerson,Francisco</p>
                    </kendo-label>
                </div>
                <!-- input box end -->


                <!-- input box start -->
                <div class="col-sm-6 col-md-6">
                    <kendo-label class="k-label" text="Alternate Approver">
                        <p class="label-answere">Hall,Gregory</p>
                    </kendo-label>
                </div>
                <!-- input box end -->
            </div>
            <!--End row Section-->
        </div>
        <!--End Card Body Section-->

    </div>
    <!-- Card Section-->

    <div class="page-footer">
        <div class="btn-box btn-box--center">
            <button type="button" kendoButton themeColor="primary"
                routerLink="/xrm/master/charge-approver">Back</button>
        </div>
    </div>

    <!-- <app-audit-log></app-audit-log> -->
    <div>
        <event-log></event-log>
    </div>

</div>
<!-- Main Body Section-->