<div class="app-content__body">
<form [formGroup]="AddEditEventReasonForm">
  <app-common-header [recordName]="recordName" [recordId]="recordId" [entityId]="entityId" [recordIdTitle]="'UserRecordID'| translate"
    [recordStatus]="userStatus" [recordStatusTitle]="'Status'| translate"
    [isStatusEditable]="false"></app-common-header>
</form>
              <form [formGroup]="AddEditEventReasonForm">
                  <!-- Card Body Section-->
                  <div class="card">

                    <div class="card__header">
                      <h4 class="card__heading">{{'ChangePasswordDetails'| translate}}
                        <p class="achor__text"> {{'Note'|translate}}: {{'ChangePasswordNote'|translate}}</p>
                      </h4>

                    </div>

                    <div class="card__body">
                    <!-- row start -->
                    <div class="row">
                      <div class="col-sm-6 col-md-6">
                        <div class="row">

                          <div class="col-sm-12 col-md-12">

                            <div class="form-group validate__password">
                                <app-textbox
                                [label]="'CurrentPassword'"
                                [isRequired]="true"
                                  placeholder="Current Password"
                                  [controlName]="'currentPassword'"
                                  [type]="'password'"
                                >

                                </app-textbox>
                            </div>

                            <div class="form-group validate__password">
                                <app-textbox
                                [label]="'NewPassword'"
                                [isRequired]="true"
                                  placeholder="Password"
                                  [controlName]="'newPassword'"
                                  [type]="'password'"
                                >
                                </app-textbox>
                            </div>

                            <div class="form-group validate__password">
                                <app-textbox
                                [label]="'ConfirmNewPassword'"
                                [isRequired]="true"
                                  [placeholder]="'Password'"
                                  [type]="'password'"
                                  [controlName]="'confirmPassword'"
                                >
                                </app-textbox>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-sm-2 col-md-2">
                        </div>
                      <div class="col-sm-4 col-md-4 pe-0">
                        <div class="password-requirement password-requirement2">
                          <p><strong>{{'PasswordRequirements'| translate}}</strong></p>
                          <ul class="nobullets">
                            <li *ngIf="this.passwordPolicy?.RequireUppercase">
                              <xrm-icon
                                  [name]="isEmpty()? '' : hasUppercase()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : hasUppercase()? check: x"
                                  [color]="hasUppercase() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{'AtLeastOneUppercaseCharacter'| translate}}
                            </li>
                            <li *ngIf="this.passwordPolicy?.RequireLowercase">
                              <xrm-icon
                                  [name]="isEmpty()? '' : hasLowercase()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : hasLowercase()? check: x"
                                  [color]="hasLowercase() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{'AtLeastOneLowercaseCharacter'| translate}}
                            </li>
                            <li *ngIf="this.passwordPolicy?.RequireNonAlphanumeric">
                              <xrm-icon
                                  [name]="isEmpty()? '' : hasSpecialCharacter()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : hasSpecialCharacter()? check: x"
                                  [color]="hasSpecialCharacter() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{'AtLeastOneSpecialCharacter'| translate}}
                            </li>
                            <li *ngIf="this.passwordPolicy?.RequireDigit">
                              <xrm-icon
                                  [name]="isEmpty()? '' : hasNumeric()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : hasNumeric()? check: x"
                                  [color]="hasNumeric() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{'AtLeastOneNumericCharacter'| translate}} 
                            </li>
                            <li *ngIf="this.passwordPolicy?.RequiredLength">
                              <xrm-icon
                                  [name]="isEmpty()? '' : isPasswordMinimum()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : isPasswordMinimum()? check: x"
                                  [color]="isPasswordMinimum() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{MinLengthMessage}}
                            </li>
                            <li *ngIf="this.passwordPolicy?.MaximumLength">
                              <xrm-icon
                                  [name]="isEmpty()? '' : isPasswordMaximum()? 'check' : 'x'"
                                  [svgPath]="isEmpty()? '' : isPasswordMaximum()? check: x"
                                  [color]="isPasswordMaximum() ? 'green-color' : 'red-color'"
                                  [size]="15">
                                </xrm-icon>
                                {{MaxLengthMessage}}
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                  </div>
                  <div class="user__activation__footer page-footer stepper-button">
                    <div class="stepper-button__prev"></div>
                    <div class="stepper-button__next">
                    <button kendoButton type="button" fillMode="outline" themeColor="primary" (click)="onCancel()">Cancel</button>
                    <button kendoButton (click)="submitClicked()" [disabled]="isExplicitlyDisabled || isPasswordButtonDisabled()" themeColor="primary">
                        Save
                    </button>
                    </div>
                    </div>
              </form>
</div>
