<div class="master-search">

  <div class="row">
    <div class="col-md-12 master-search__wapper">
      <div class="master-search__search-box">
        <div class="custom-search">
          <div class="custom-search__input-box">
            <app-search [placeholder]="'SearchFor'" [buttonNameSearch]="''" [EntityId]="entityId"
              [isServerSidePagingEnable]="true" [columnOptions]="columnOptions"
              [isSpecialCharacterAllowed]="true" (onSearch)="onSearch($event)">
            </app-search>
          </div>
          <app-advance-search [EntityId]="entityId" [apiAddress]="advApiAddress"
            [isServerSidePagingEnable]="true" (selectedFilter)="onFilter($event)"
            [isApiGateway]="true"></app-advance-search>
        </div>
      </div>

      <div class="master-search__button-box master-search__button-box--right">
        <app-kendo-button *ngIf="canCreate" [xrmEntityId]="entityId" [buttonName]="'NewCandidateSelectionReason'"
          [buttonIcon]="'plus'" (Click)="navigateToAdd()">
        </app-kendo-button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <grid-view [isServerSidePagingEnable]="true" [apiAddress]="apiAddress" [searchText]="searchText"
    [isApiGateway]="true" [advFilterData]="appliedAdvFilters" [columnOptions]="columnOptions" [actionSet]="actionSet"
    [tabOptions]="tabOptions" [actionItemCategoryField]="'Disabled'" [kendoGridSelectedBy]="'UKey'"
    [pageSize]="pageSize" [fileName]="'CandidateSelectionReason'"
    (onGroupedAction)="onAllActivateDeactivateAction($event)" [entityId]="entityId" [isSortingAllowed]="true"
    [isFilteringAllowed]="true" [isActionColumnVisible]="true">
  </grid-view>
</div>