<div class="auth auth__user-activation alert__auth">
  <main class="container-fluid">
    <div class="row">
      <div class="col-sm-4 auth__left-panel">
        <div class="auth__user-activation--bg">
          <div class="auth auth__msg-card__wpr">
            <p class="auth__msg-card">
              <strong> {{'Hello'|translate}}</strong> <br />
              {{'ForgotPasswordMsg'|translate}}
              <br />
              {{'ContactMSPProgramManagerSNP'|translate}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-8 auth__right-panel">
        <div class="auth__form-card__wpr">

          <app-toaster [isOnComponent]="true"></app-toaster>
          <div class="auth__header">
            <img class="logo-firm" src="./assets/images/XRM-logo.webp" alt="logo" />
            <img class="logo-client" src="assets/images/acrologo.webp" alt="logo" />
          </div>

          <div class="auth__form screen">
            <h1 class="auth__form--heading">{{'SetNewPassword'|translate}}</h1>
            <form [formGroup]="AddEditEventReasonForm">
              <div class="user__activation set-new-password">
                <!-- Card Body Section-->
                <div class="user__activation__body">
                  <!-- row start -->
                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="row">
                        <div class="col-sm-12 col-md-12">
                          <div class="form-group">
                            <p class="k-label">
                              <strong> {{'UserName'|translate}} :</strong> {{userName}}
                            </p>
                          </div>
                        </div>

                        <div class="col-sm-12 col-md-12">
                          <div class="form-group validate__password">
                            <app-textbox [label]="'NewPassword'" [isRequired]="true" placeholder="Password"
                              [controlName]="'newPassword'" [type]="'password'">
                            </app-textbox>
                          </div>

                          <div class="form-group validate__password">
                            <app-textbox [label]="'ConfirmNewPassword'" [isRequired]="true" placeholder="Password"
                              [controlName]="'confirmPassword'" [type]="'password'">
                            </app-textbox>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 pe-0">
                      <div class="password-requirement password-requirement2">
                        <p><strong>{{'PasswordRequirements'|translate}}</strong></p>
                        <ul class="nobullets">
                          <li *ngIf="this.passwordPolicy?.RequireUppercase">
                            <xrm-icon [name]="isEmpty()? '' : hasUppercase()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : hasUppercase()? check: x"
                              [color]="hasUppercase() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{'AtLeastOneUppercaseCharacter'| translate}}
                          </li>
                          <li *ngIf="this.passwordPolicy?.RequireLowercase">
                            <xrm-icon [name]="isEmpty()? '' : hasLowercase()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : hasLowercase()? check: x"
                              [color]="hasLowercase() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{'AtLeastOneLowercaseCharacter'| translate}}
                          </li>
                          <li *ngIf="this.passwordPolicy?.RequireNonAlphanumeric">
                            <xrm-icon [name]="isEmpty()? '' : hasSpecialCharacter()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : hasSpecialCharacter()? check: x"
                              [color]="hasSpecialCharacter() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{'AtLeastOneSpecialCharacter'| translate}}
                          </li>
                          <li *ngIf="this.passwordPolicy?.RequireDigit">
                            <xrm-icon [name]="isEmpty()? '' : hasNumeric()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : hasNumeric()? check: x"
                              [color]="hasNumeric() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{'AtLeastOneNumericCharacter'| translate}}
                          </li>
                          <li *ngIf="this.passwordPolicy?.RequiredLength">
                            <xrm-icon [name]="isEmpty()? '' : isPasswordMinimum()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : isPasswordMinimum()? check: x"
                              [color]="isPasswordMinimum() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{MinLengthMessage}}
                          </li>
                          <li *ngIf="this.passwordPolicy?.MaximumLength">
                            <xrm-icon [name]="isEmpty()? '' : isPasswordMaximum()? 'check' : 'x'"
                              [svgPath]="isEmpty()? '' : isPasswordMaximum()? check: x"
                              [color]="isPasswordMaximum() ? 'green-color' : 'red-color'" [size]="15">
                            </xrm-icon>
                            {{MaxLengthMessage}}
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="user__activation__footer page-footer stepper-button">
                  <div class="stepper-button__prev"></div>
                  <div class="stepper-button__next">
                    <button kendoButton type="submit" (click)="submitClicked()"
                      [disabled]="isButtonDisabledExplicitly || isPasswordButtonDisabled()" themeColor="primary">
                      {{'Submit' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>