.k-combobox {
    border-color: var(--light-border-color);
    box-shadow: none;
    border-radius: 4px;
    padding: 0;
}

.k-combobox .k-input-inner {
    padding: 4px 12px;
}

.validate__password .k-input {
    padding-right: 38px !important;
}

.user__activation__body .k-button-md {
    padding: 8px 16px;
    line-height: 21px;
    border-radius: 4px;
}

.user__activation__body span.k-clear-value {
    display: none;
}

.k-combobox .k-input-inner::placeholder {
    opacity: 1;
    font-size: var(--base-font-size);
    color: #bebebe;
    font-weight: 400;
}