.fields p {
  font-size: 11px;

  color: #000;

  line-height: 26px;

  border: #e2e2e2 solid 1px;

  padding: 2px 8px;

  margin-bottom: 4px;

  border-radius: 2px;

}

.fields p i{

  color:  var(--color-primary);

  padding-right: 4px;

}