<!-- Main Body Section-->
<div class="app-content__body floating-layout floating-layout__view-layout">
  <!-- Card Section-->
  <div class="card">

    <!-- Card Header Section-->
    <div class="card__header">
      <h4 class="card__heading">{{'BasicDetails' | translate }}</h4>
      <div class="card__header-icon">
      </div>
    </div>
    <!-- End Card Header Section-->

    <!-- Card Body Section-->
    <div class="card__body">

      <!--start row Section-->
      <div class="row">
        <div class="clearfix"></div>

        <!-- input box start -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <app-kendo-label [label]="SectorLabel" [value]="OrganizationLevel3.SectorName">
            </app-kendo-label>
          </div>
        </div>
        <!-- input box end -->

        <!-- input box start -->
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
            <app-kendo-label [label]="orgLabelName" [value]="OrganizationLevel3.OrganizationName">
            </app-kendo-label>
          </div>
        </div>
        <!-- input box end -->

      </div>
      <!--End row Section-->
    </div>
    <!--End Card Body Section-->

  </div>
  <!-- Card Section-->

  <ng-container *ngIf="sectorId>0">
    <app-udf-implementation [entityId]="entityId" [sectorId]="sectorId" [recordUKey]="recordUKey"
      [parentsInfos]="udfCommonMethods.getParentsInfo()" [actionTypeId]="actionTypeId">
    </app-udf-implementation>
  </ng-container>

  <div class="page-footer">
    <div class="btn-box btn-box--center">
      <button type="button" kendoButton themeColor="primary" routerLink="/xrm/master/organization-level3">{{'Back'|
        translate}}</button>
    </div>
  </div>

</div>
<!-- Main Body Section-->
