<!-- Main Body Section -->
<div class="app-content__body">
    <form [formGroup]="AddEditRateCalculatorForm">
        <!-- Success Toast -->
       
        <!-- First Card Section-->
        <div class="card mockupscreenBG">
            <!-- Card Header Section-->
            <div class="card__header">
                <h4 class="card__heading">{{'BasicDetails' | translate}}</h4>
            </div>
            <!-- End Card Header Section-->
            <!-- Card Body Section-->
            <div class="card__body">
                <div class="row">
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="FeeDropDownList"
                                [label]="'MspFeeType'" [controlName]="'mspFeeTypeId'"
                                [placeholder]="'-Select-'"  (onChange)="onChangeMspFeeType($event)" [isRequired]="true">
                            </app-kendo-dropdown>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="ModelDropDownList"
                                [label]="'PricingModel'" [controlName]="'pricingModelId'"
                                [placeholder]="'-Select-'" (onChange)="onChangePricingModel($event)" [isRequired]="true">
                            </app-kendo-dropdown>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="OTRateTypeDropDownList"
                                [label]="'OtRateType'" [controlName]="'otRateTypeId'"
                                [placeholder]="'-Select-'" (onChange)="onChangeOtRateType($event)" [isRequired]="true" >
                            </app-kendo-dropdown>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="OTRateDropDownList"
                                [label]="'OtRate'" [controlName]="'jobType'" [isRequired]="true"
                                [placeholder]="'-Select-'">
                            </app-kendo-dropdown>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="ShiftDifferentialDropDownList" [isRequired]="true"
                                [label]="'ShiftDifferentialMethod'" [controlName]="'isShiftMultiplier'"
                                [placeholder]="'-Select-'">
                            </app-kendo-dropdown>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'shiftDifferentialValue'" [label]="'ShiftDifferentialValue'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'otWageMultiplier'" [label]="'OtWageMultiplier'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                     <!-- Text Box Start -->
                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'dtWageMultiplier'" [label]="'DtWageMultiplier'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'otBillMultiplier'" [label]="'OtBillMultiplier'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                   
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'dtBillMultiplier'" [label]="'DtBillMultiplier'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'mspFeePercent'" [label]="'MspFeePercentage'"  [isRequired]="true"  [min]="0" [decimals]="2">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'submittedMarkup'" [label]="'StaffingAgencyMarkup'" [isRequired]="true"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'baseWageRate'" [label]="'BaseWageRateLbl'"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-numeric-box [controlName]="'stBill'" [label]="'StBill'"  [min]="0" [decimals]="3">
                            </app-numeric-box>
                        </div>
                    </div>
                    <!-- Text Box End -->

                </div>
            </div>           
        </div>

 <!--  Page Footer Section-->
 <div class="page-footer">
    <div class="btn-box btn-box--center">
        <button type="button" kendoButton  themeColor="primary" (click)="submitForm()">{{"Calculate" | translate}}
        </button>
        <button type="button" kendoButton fillMode="outline" themeColor="primary" routerLink="/xrm/landing/home"> {{ "Cancel" | translate }}
        </button>
    </div>
</div>
<!-- End Footer Section-->

        <!-- First Card Section-->
        <div class="card" *ngIf="rateCalculatedValue">
            <!-- Card Header Section-->
            <div class="card__header">
                <h4 class="card__heading"></h4>
            </div>
            <div class="card__body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'BaseWageRateLbl'"  [decimalPlaces]="2"   [value]="rateCalculatedValue?.BaseWageRate.toFixed(2) || 0.00"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"  >
                               
                            </app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.BaseWageRate"><p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'ActualStWRate'" [value]="rateCalculatedValue?.ActualStWageRate.toFixed(2) || 0.00"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"  ></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.ActualStWageRate"></p>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'StBillRateCalc'" [value]="rateCalculatedValue?.StBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'" ></app-kendo-label>
                            <p  [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.StBillRate"></p>
                        </div>
                    </div>

                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'OtWRate'" [value]="rateCalculatedValue?.OtWageRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"  ></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.OtWageRate"></p>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'OtBill'" [value]="rateCalculatedValue?.OtBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"  ></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.OtBillRate"></p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'DtWRate'" [value]="rateCalculatedValue?.DtWageRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'" ></app-kendo-label>
                            <p  [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.DtWageRate"></p>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'DtBill'" [value]="rateCalculatedValue?.DtBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'" ></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.DtBillRate"></p>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'StaffAgencyStBillRate'" [value]="rateCalculatedValue?.StaffingAgencyStBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.StaffingAgencyStBillRate"></p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'StaffAgencyOtBillRate'" [value]="rateCalculatedValue?.StaffingAgencyOtBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'" ></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.StaffingAgencyOtBillRate"></p>
                        </div>
                    </div>
                    <!-- Text Box End -->
                    <!-- Text Box Start -->
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'StaffAgencyDtBillRate'" [value]="rateCalculatedValue?.StaffingAgencyDtBillRate.toFixed(2)"></app-kendo-label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-label [label]="'Formula'"></app-kendo-label>
                            <p [innerHtml]="rateCalculatedValue?.ClpRateFormulaDefinition?.StaffingAgencyDtBillRate"></p>
                        </div>
                    </div>

                    </div>
                    </div>
            </div>
    </form>
</div>
