<p>zipcode pipe : {{convertText|zipcode}}</p>
<br>
<p>zipcode pipe : {{"256-5"|zipcode}}</p>
<br>
<p>prefix pipe with no prefix parameter: {{convertText| prefix}} </p>
<br>
<p>prefix pipe with prefix parameter "xrm-": {{convertText| prefix:"xrm-"}}</p>
<br>
<p>suffix pipe with no suffix parameter: {{convertText| suffix}}</p>
<br>
<p>suffix pipe with suffix parameter "-xrm": {{convertText| suffix:"-xrm"}}</p>
<br>
<p>country Phone pipe : {{convertPhone| countryPhone:"India"}}</p>
<br>
<p>country Code pipe : {{country| countryCode}}</p>
<br>
<p>contains Null pipe : {{""| containsNull:"ggg"}}</p>
<br>
<p>contains Null pipe : {{checkNullVal2| containsNull:"Hello"}}</p>
<br>
<p>boolean pipe : {{"1"| boolean}}</p>
<br>
<p>boolean pipe : {{"0"| boolean}}</p>
<br>
<p>boolean pipe : {{checkNumberVal3| boolean}}</p>
<br>
<p>disable pipe : {{0| disable}}</p>
<br>
<p>disable pipe : {{1| disable}}</p>
<br>
<p>disable pipe : {{null| disable}}</p>
<br>
<p>normalise Camel case pipe : {{"sudhirKumarFromImphal"| normaliseCamelcase}}</p>
<br>
<p>normalise Camel case pipe : {{""| normaliseCamelcase}}</p>
<br>
<p>normalise Camel case pipe : {{null| normaliseCamelcase}}</p>
<br>
<p>remove Underscore pipe: {{"sudhir-kumar"| removeUnderscore}}</p>
<br>
<p>sorting pipe: {{numArry| sorting:"asc"}}</p>
<br>
<p>sorting pipe: {{strArry| sorting:"asc"}}</p>
<br>
<p>sorting pipe: {{numArry| sorting:"desc"}}</p>
<br>
<p>sorting pipe: {{strArry| sorting}}</p>
<br>
<p>Contains Null pipe: {{"notnull"| containsNull:"1"}}</p>
<br>
<p>Contains Value pipe: {{"Hello world"| containsValue:""}}</p>

<br>
<p>Yes No pipe: {{true| yesNo}}</p>
<br>
<p>Yes No pipe: {{false| yesNo}}</p>





