<div class="app-content__body">

    <form [formGroup]="addEditRetireeOptForm">
        <div class="card">
            <div class="card__header">
                <h4 class="card__heading">{{'BasicDetails'|translate}}</h4>
            </div>
            <div class="card__body">
                <div class="row">

                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <app-kendo-dropdown [list]="sectorData" [label]="'Sector'" [controlName]="'SectorId'"
                                [placeholder]="'-Select-'" [isRequired]="true" [isEditMode]="isEditMode">
                            </app-kendo-dropdown>
                            <p *ngIf="isEditMode" class="label-answere">{{retireeOptData.SectorName}}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <app-textbox [controlName]="'RetireeOptionName'" [label]="'RetireeOption'"
                                [isRequired]="true">
                            </app-textbox>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="page-footer">
            <div class="btn-box btn-box--center">
                <button type="button" kendoButton fillMode="outline" themeColor="primary" (click)="navigate()"> {{ "Cancel"
                    | translate }}
                </button>
                <button type="button" kendoButton (click)="submitForm()" themeColor="primary"
                    [disabled]="isEditMode ? addEditRetireeOptForm.pristine : false" appFocusOnError
                    [formName]="addEditRetireeOptForm">
                    {{ isEditMode ?('Save' | translate) : ('Save' | translate) }}

                </button>

            </div>
        </div>
    </form>
</div>