.wizard {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin-bottom: 8px;
        }
    }

    .k-stepper {
        background: var(--color-white);
        box-shadow: var(--card-shadow);
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 24px;
        width: 100%;
    }
}

.k-stepper {
    .k-step-indicator {
        border-width: 2px;
        width: 18px;
        height: 18px;
        background-color: var(--color-white) !important;
        border-color: var(--light-border-color);
        color: var(--color-default);
    }

    .k-step-label {
        .k-step-text {
            font-size: var(--base-font-size);
            font-weight: 500;
            color: var(--color-default);
            overflow: inherit;
        }
    }

    .k-step-link {
        line-height: normal;
    }

    .k-step-current {
        .k-step-label {
            .k-step-text {
                color: var(--orange-color);
            }
        }

        .k-step-indicator {
            border-color: var(--orange-color);
        }
    }

    .k-step {
        &.k-step-current {
            .k-step-indicator-icon {
                &.k-i-check {
                    &:before {
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: auto;
                        content: "";
                        border-radius: 100px;
                        transform: translate(-50%, -50%);
                    }

                    &::before {
                        background: var(--orange-color);
                    }
                }
            }

            .k-step-indicator {
                color: var(--orange-color);
            }
        }

        .k-step-indicator-icon {
            &.k-i-check {
                &:before {
                    content: "";
                }
            }
        }
    }

    .k-step-done {
        .k-step-indicator {
            border-color: var(--green-color);
            color: var(--color-white);
            background-color: var(--green-color) !important;
            color: var(--color-white);

            .k-step-indicator-text {
                display: none;
            }

            &::before {
                content: "";
                background-image: url(../../../../assets/icon/xrm-icons/check.svg);
                background-repeat: no-repeat;
                background-size: 10px;
                background-position: center;
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }

        .k-step-label {
            .k-step-text {
                color: var(--green-color);
            }
        }
    }

    .text-error {
        &.k-step-done {
            .k-step-indicator {
                border-color: var(--color-inactive);
                color: white;
                background-color: var(--color-inactive) !important;
            }

            .k-step-label {
                .k-step-text {
                    color: var(--color-inactive) !important;
                }
            }
        }
    }
}

.k-step-list-vertical {
    .k-step {
        &:last-child {
            min-height: 38px;
        }
    }

    &~.k-progressbar {
        left: 31px;
        top: -8px;
    }
}

.k-progressbar {
    .k-selected {
        border-color: var(--green-color);
        background-color: var(--green-color);
    }
}

.k-stepper .k-step.k-step-done .k-step-indicator-icon.k-icon.k-i-check,
.k-stepper .k-step.k-focus .k-step-indicator:after,
.k-stepper .k-step-link:focus .k-step-indicator:after {
    display: none;
}

.k-stepper .k-step-done:hover .k-step-indicator,
.k-stepper .k-step-done.k-hover .k-step-indicator,
.k-stepper .k-step-done.k-step-hover .k-step-indicator {
    background-color: var(--green-color);
}

.wizard .k-stepper .k-step-current .k-step-label {
    box-shadow: none;
}

.card.k-expander .k-expander-content-wrapper .k-expander-content {
    padding-block: 0;
    padding-inline: 0;
}

.app-content__kendoexpansion-main .k-expander-content>.card__body {
    padding: 0;
}

.dropdown__shift-range .dropdown__shift-range--input {
    margin-top: 10px;
}

.dropdown__shift-range .dropdown__shift-range__days {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.dropdown__shift-range .dropdown__shift-range__days li {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 40px;
    color: var(--color-black);
}

.achor__text .dropdown__shift-range__days li {
    cursor: pointer;
    border: var(--color-primary) solid 1px;
    position: relative;
}

.achor__text .dropdown__shift-range__days li.disable-day {
    background-color: #e9e9e9;
    border-color: #aeaeae;
    color: #aeaeae;
    cursor: default;
    position: relative;
}

.achor__text .dropdown__shift-range__days li.event-day::after {
    content: "";
    background-image: url(../../../../assets/icon/xrm-icons/circle-check.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    line-height: 1;
}

.dropdown__shift-range .dropdown__shift-range--input .timeRange__inline {
    display: inline-flex;
    gap: 6px;
    margin-left: 10px;
    vertical-align: baseline;
}

.achor__text,
.achor__text .k-label {
    color: #7c899c;
    font-size: 12px;
}

.dropdown__shift-range .form-group .editDaysBtn {
    border: none;
    padding: 0 2px;
    margin-left: 5px;
    margin-top: -3px;
    line-height: 21px;
    border-radius: 4px;
    background: transparent;
}

.dropdown__shift-range .dropdown__shift-range--input .timeRange__inline .k-timepicker {
    width: 120px;
    box-shadow: none;
}

.dropdown__shift-range .dropdown__shift-range--input .timeRange__inline .k-timepicker .k-input-inner {
    padding: 4px 6px !important;
    color: var(--color-default);
    line-height: normal;
}

.dropdown__shift-range .dropdown__shift-range--input .timeRange__inline .k-timepicker .k-button-md {
    padding: 0px 6px !important;
    width: auto;
}