<div class="app-content__body floating-layout floating-layout__view-layout">
   
    <div class="card">
        <div class="card__header">
            <h4 class="card__heading">{{'BasicDetails'|translate}}</h4>
        </div>
        <div class="card__body">
            <div class="row">

                <div class="clearfix"></div>

                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <app-kendo-label [label]="'Sector'" [value]="retireeOptData.SectorName"></app-kendo-label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <app-kendo-label [label]="'RetireeOption'" [value]="retireeOptData.RetireeOptionName"></app-kendo-label>
                    </div>
                </div>

            </div>
        </div>

    </div>

  <div class="page-footer">
    <div class="btn-box btn-box--center">
        <button type="button" kendoButton themeColor="primary"
        [routerLink]="navigationPaths.list">
            {{'Back' | translate}}
        </button>
    </div>
</div>

</div>
