<div *ngIf="isRendered">
<div *ngIf="isEditMode; then thenTemplateName; else elseTemplateName"></div>
<ng-template #thenTemplateName>
  
  <app-kendo-label [label]="label"
    [value]="getTextValue()" [labelLocalizeParam]="labelLocalizeParam"
    [addOnLabelText]="addOnLabelText" [addOnLabelTextLocalizeParam]="addOnLabelTextLocalizeParam"
    [tooltipVisible]="tooltipVisible" [tooltipTitle]="tooltipTitle" [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam">
  </app-kendo-label>

</ng-template>
<ng-template #elseTemplateName>
  <kendo-formfield>
    <tooltip-content [tooltipVisible]="tooltipVisible" [tooltipTitle]="tooltipTitle" [label]="label"
    [addOnLabelText]="addOnLabelText" [addOnLabelTextLocalizeParam]="addOnLabelTextLocalizeParam" [isRequired]="isRequired"
      [tooltipPosition]="" [isHtmlContent]="isHtmlContent" [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam"
      [labelLocalizeParam]="labelLocalizeParam">
    </tooltip-content>
    <div>
      <ng-container *ngFor="let radio of RadioGroup; let i = index">
        <div class="radio-input d-inline-block">
          <input class="mx-1" type="radio" [id]="'radio' + radio.Text + name" [name]="name" [value]="radio.Value"
            (change)="onChange()" kendoRadioButton [formControl]="listControlName ? listControlName : formControl" />
          <tooltip-content [tooltipVisible]="radio?.tooltipVisible?? false" [tooltipTitle]="radio?.tooltipTitle ?? '' | translate"
            [label]="radio.Text??'' | translate" [forProperty]="'radio' + radio.Text + name" [tooltipPosition]=""
            [tooltipTitleLocalizeParam]="tooltipTitleLocalizeParam">
          </tooltip-content>
        </div>
      </ng-container>
    </div>
    <app-print-error-message [control]="listControlName ? listControlName : formControl"></app-print-error-message>
  </kendo-formfield>
</ng-template>
</div>
