.offcanvas {
  background-color: #fff;
  padding: 0;
}

.no-data {

  color: #777;
  text-align: center;
  margin-top: 0;
  padding: 14px;
}

.no-data p {
  font-size: 13px;
}

.staffingAgency-dropdown .k-input-inner {
  padding: 8px 12px !important;
}

.markup-table .gridView2 {
  margin-bottom: 0;
}