<app-submittal-shared-View [CurrentPage]="currentPage" (onDataLoaded)="manageButtons($event)" #child></app-submittal-shared-View>

<div class="page-footer">
  <div class="btn-box btn-box--center">
      <button kendoButton href="javascript:;" fillMode="outline" themeColor="primary"
          (click)="navigateBack()">{{'Cancel' | translate}}</button>

      <button kendoButton href="javascript:;" fillMode="outline" themeColor="primary"  data-bs-toggle="offcanvas"
      data-bs-target="#defer">{{'Defer'| translate}}</button>

      <button kendoButton href="javascript:;" fillMode="outline" themeColor="primary"
          (click)="navigateInterview()">{{'InterviewRequest' | translate}}</button>

      <button kendoButton href="javascript:;" fillMode="outline" themeColor="primary"
          (click)="shortlistCandidate()">{{'Shortlist' | translate}}</button>

      <button kendoButton fillMode="outline" themeColor="primary" data-bs-toggle="offcanvas"
          data-bs-target="#declineCommentSidebar">{{'Decline' | translate}}</button>

      <button kendoButton href="javascript:;" fillMode="outline" themeColor="primary"  data-bs-toggle="offcanvas"
      data-bs-target="#resumeForward">{{'Forward' | translate}}</button>

      <button kendoButton href="javascript:;" fillMode="solid" themeColor="primary" data-bs-toggle="offcanvas"
      data-bs-target="#selectionSidebar">{{'Select' | translate}}</button>

  </div>
</div>



<!-- Decline Comment sidebar Starts -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="declineCommentSidebar" aria-labelledby="declineCommentSidebar">
  <div class="offcanvas-header">
      <h5>{{'DeclineComment'|translate}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      </button>
  </div>
  <form [formGroup]="submittalDeclineForm">
      <div class="offcanvas-body">
          <div class="card">
              <div class="card__body">
                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-kendo-dropdown [isRequired]="true" [label]="'DeclineReason'" [list]="declineReasonList"
                              [controlName]="'declineReason'" [placeholder]="'Select'">
                          </app-kendo-dropdown>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-kendo-switch [controlName]="'switchDNR'" [label]="'AddCandidateToDnrListing'" [onLabel]="'Yes'"
                              [offLabel]="'No'" [tooltipVisible]="true" [tooltipTitle]="'DNRToolTip'">
                          </app-kendo-switch>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-kendo-radio-button [label]="'DNRLevel'" [controlName]="'radioDNR'" *ngIf="isShowDnrLevel"
                              [RadioGroup]="RadioValues" [name]="'radioDNR'" [isRequired]="true">
                          </app-kendo-radio-button>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-kendo-textarea [controlName]="'declineComment'" [label]="'DeclineComment'"
                              [isRequired]="true" [maxCharacters]="500"></app-kendo-textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <div class="offcanvas-footer">
      <div class="col-md-12">
          <div class="button-group">
              <button type="button" kendoButton themeColor="primary" (click)="declineSubmittal()">
                  {{'Submit'| translate}}
              </button>
              <button type="button" kendoButton themeColor="primary" fillMode="outline" data-bs-dismiss="offcanvas"
                  aria-label="Close">
                  {{'Cancel'|translate}}
              </button>
          </div>
      </div>
  </div>
</div>
<!-- Decline Comment sidebar ends -->


<!-- Resume Forward sidebar starts -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="resumeForward" aria-labelledby="resumeForward">
  <div class="offcanvas-header">
      <h5>{{'ResumeForward' | translate}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      </button>
  </div>
  <form [formGroup]="resumeForwardForm">
      <div class="offcanvas-body">
          <div class="card">
              <div class="card__body">
                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-textbox [label]="'RecipientEmail'" [tooltipVisible]="true" [isRequired]="true"
                          [tooltipTitle]="'Use a comma (,) to separate multiple email addresses.'"
                          [controlName]="'recipientEmail'" ></app-textbox>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                          <app-kendo-textarea [controlName]="'commentsForward'" [label]="'Comments'"
                             ></app-kendo-textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <div class="offcanvas-footer">
      <div class="col-md-12">
          <div class="button-group">
              <button type="button" kendoButton themeColor="primary" (click)="declineSubmittal()">
                  {{'Submit'| translate}}
              </button>
              <button type="button" kendoButton themeColor="primary" fillMode="outline" data-bs-dismiss="offcanvas"
                  aria-label="Close">
                  {{'Cancel'|translate}}
              </button>
          </div>
      </div>
  </div>

</div>
<!-- Resume Forward sidebar ends-->